.page-container {
    display: flex;
    gap: var(--content-padding);
    padding-bottom: 2.5rem;
    /* justify-content: center; */
}

.product-container {
    padding: 10px;
    width: 77%;
}

.product-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--container-gap);
    justify-content: center;
}

.filters {
    height: 500px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: var(--content-padding);
    overflow-y: scroll;
    background-color: var(--whitesmoke-color);
    color: var(--primary-color);
}

.range-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
}

.filter-head {
    display: flex;
    border-bottom: 1px solid var(--primary-color);
}

.right {
    margin-left: auto;
    background-color: transparent;
    text-decoration: underline;
    color: var(--font-color);
}

.filter-heading {
    font-weight: 500;
    color: var(--primary-color);
}

.product-head {
    font-weight: 500;
    text-align: center;
}

.complete-card {
    background-color: #e9ebf1;
}

.card-image {
    padding: 0.9375rem 0.9375rem 0rem 0.9375rem;
    width: 15.625rem;
    height: 16.875rem;
    align-self: center;
}

.info-head {
    font-weight: 500;
}

.primary-btn-border {
    background-color: transparent;
}

.main-info-cont,
.sub-info-cont,
.footer {
    text-align: center;
}

.footer {
    justify-content: space-around;
}

.price-range {
    width: 90%;
    margin-top: 1px;
    padding-top: 1px;
}

.range-num {
    margin-bottom: 1px;
}

.fa-star {
    color: rgb(236, 183, 47);
}

.not-wish{
    color: var(--primary-color);
}

.not-wish:hover{
    color: var(--warning-color);
}

.not-like-btn{
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: -0.5rem;
    right: -0.2rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.sub-info{
    margin: 0.5rem;
}

.rate{
    position: absolute;
    top: 61.8%;
    right: 0.4rem;
    background-color: #e9ebf1;
    border-radius: 5px;
    padding: 1px 1px 1px 3px;
    color: var(--primary-color);

}

@media screen and (max-width : 530px ){
    .fil-box{
        display: none;
    }
    .product-container{
        width: 100%;
    }
}