.wishlist-container {
    gap: 40px;
    padding: 2.5rem 1rem;
}

.main-info-cont,
.sub-info-cont,
.footer {
    text-align: center;
}

.wishlist-head {
    font-weight: 500;
    color: var(--secondary-color);
}

.wishlist-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--container-gap);
}

.complete-card {
    background-color: #e9ebf1;
    position: relative;
}

.card-image {
    padding: 0.9375rem 0.9375rem 0rem 0.9375rem;
    width: 15.625rem;
    height: 16.875rem;
    align-self: center;
}

.wish-icon {
    color: var(--warning-color);
    padding: 0px;
}

.wish-icon:hover {
    color: var(--primary-color);

}

.info-head {
    font-weight: 500;
}

.button {
    text-decoration: underline;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
}

.footer {
    justify-content: space-around;
}

.fa-star {
    color: rgb(236, 183, 47);
}

.like-btn {
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: 1.5rem;
    cursor: pointer;
}