@import url("https://techtonic-ui.netlify.app/styles.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}
.wishlist-container{
    gap: 40px;
    margin: 2.5rem 1rem;
}
.main-info-cont, 
.sub-info-cont,
.footer{
    text-align: center;
}
.wishlist-head{
    font-weight: 500;
}
.wishlist-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--container-gap);
}
.complete-card{
    max-width: 19rem;
    background-color: #E1F0C4;
}
.card-image{
    padding: 0.9375rem;
    width: 15.625rem;
    height: 16.875rem;
}

.wish-icon{
    color: var(--warning-color);
}
.wish-icon:hover{
    color: var(--alert-color);
    
}
.info-head{
    font-weight: 500;
}
.button{
    text-decoration: underline;
}
.button:hover{
    background-color: transparent;
}
.footer{
    justify-content: space-around;
}