.wishlist-container {
    gap: 40px;
    margin: 2.5rem 1rem;
}

.main-info-cont,
.sub-info-cont,
.footer {
    text-align: center;
}

.wishlist-head {
    font-weight: 500;
}

.wishlist-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--container-gap);
}

.complete-card {
    /* max-width: 19rem; */
    background-color: #e9ebf1;
}

.card-image {
    padding: 0.9375rem;
    width: 15.625rem;
    height: 16.875rem;
    align-self: center;
}

.wish-icon {
    color: var(--warning-color);
}

.wish-icon:hover {
    color: var(--alert-color);

}

.info-head {
    font-weight: 500;
}

.button {
    text-decoration: underline;
}

.button:hover {
    background-color: transparent;
}

.footer {
    justify-content: space-around;
}

.fa-star {
    color: rgb(236, 183, 47);
}