/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');
@import url(../../public-css/root.css);
body{
    font-family: "Montserrat", sans-serif;

} */

.body-container {
    display: flex;
    flex-direction: column;
    background-color: var(--whitesmoke-color);
}

.authors {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    margin: 3.125rem;

}

.round-img {
    width: 9rem;
    height: 9rem;
}

.img-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.primary-btn {
    padding: 10px;
}

.primary-btn-border {
    padding: 10px;
    background-color: transparent;
}

.hero {
    margin-bottom: 1.25rem;
}

.responsive-img {
    height: 28.125rem;
}

.cards-cont {
    display: flex;
    margin: 1.25rem;
    gap: 6.25rem;
    justify-content: space-around;
    align-items: center;

}

.info-head {
    color: var(--primary-color);
}

.new-ar {
    margin-bottom: 10px;
    text-decoration: underline;
}

.sm-txt {
    color: var(--font-color);
}

.read-btn {
    padding: 0px;
    margin: 15px 0px 0px 0px;
    background-color: transparent;
}

.complete-card {
    max-width: 40rem;
    background-color: #E1F0C4;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.hori-img {
    height: 75%;
    padding: 1.5rem;
}

.complete-card {
    padding-bottom: 0px;
}