.cart-container {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.cart-cards-container {
    gap: 1.875rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.bill {
    display: flex;
    height: 100%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: var(--content-padding);
    flex-direction: column;
    align-self: auto;
    background-color: #b8c6d6;
}

.cart-head {
    font-weight: 500;
    text-align: center;
    margin: 1.5rem;
}

.hori-img {
    padding: 0.9375rem;
    width: 15.625rem;
    height: 16.875rem;
}

.discount {
    text-decoration: line-through;
    color: gray;
}

.discount-per {
    color: var(--good-color);
}

.discount-am {
    border-bottom: 1px solid var(--primary-color);
}

.cart-card {
    max-width: 90%;
}

.main-info-cont {
    text-align: center;

}

.info-head {
    margin-top: 0px;
}

.quantity-cont {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 0px;
    padding-left: 0px;
}

.quantity-head {
    margin-right: 0px;
    padding-right: 0px;
}

.quantity-btn {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 100%
}

.inc:hover {
    background-color: var(--good-color);
}

.dec:hover {
    background-color: var(--warning-color);
}

.quantity-btn:hover {
    cursor: pointer;
    ;
}

.product-quantity {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 0px 5px;
}

.fa-plus,
.fa-minus {
    color: black;
}

.rem-btn,
.read-btn {
    padding: 5px;

}

.bill-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
}

.price-head,
.delivery,
.total-am {
    border-bottom: 1px solid var(--primary-color);
}

.fa-star {
    color: rgb(236, 183, 47);
}

.span-info {
    margin-left: 1rem;
}

.item-price {
    margin: 0.5rem;
}

.wl-btn {
    margin-top: 5px;
}

.cart-rate {
    position: absolute;
    top: 56%;
    right: 0.4rem;
    background-color: #e9ebf1;
    border-radius: 5px;
    padding: 1px 1px 1px 3px;
}